.form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.form > input {
  outline: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  caret-color: var(--color-primary);
}

.form > button {
  padding: 0.75rem 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0;
  outline: none;
  background: linear-gradient(
    to right,
    transparent 0%,
    rgb(165, 110, 110) 50%,
    rgb(165, 110, 110) 50%,
    teal 100%
  );
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all ease-in-out 0.8s;
}

.form > button:active {
  background: linear-gradient(
    to right,
    salmon 0%,
    rgb(165, 110, 110) 50%,
    teal 100%
  );
}

.form > button:hover {
  box-shadow: 0 1px 8px 0px #000a;
}

.authError {
  padding: 0.5rem 0;
  font-size: 1.2rem;
}
