.wrapper {
  position: absolute;
  right: 1rem;
  color: teal;
  font-size: 1rem;
}

.wrapper a:hover {
  color: var(--color-active);
}

.userInfo {
  position: relative;
  display: inline-block;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

.userAvatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
}

.exitButton {
  color: var(--text-main-color);
  cursor: pointer;
  transition: all 0.2s linear;
}

.exitButton:hover {
  color: var(--primary-color);
}

.dropdownContent {
  display: none;
  position: absolute;
  right: 50%;
  transform: translate(50%);
  min-width: 70%;
  top: 100%;
  z-index: 1;
  background-color: var(--accent-bg-color);
  box-shadow: 0 1px 8px 0px #000a;
  /* box-shadow: 0 1px 8px 0px #fffa; */
  border-radius: 8px;
  padding: 0 0.8rem 0.1rem;
}

.dropdownContent a {
  color: var(--text-main-color);
  cursor: pointer;
  transition: all 0.2s linear;
  display: block;
}

.userInfo:hover .dropdownContent {
  display: block;
}
