.wrapper {
  display: flex;
  gap: 1rem;
}

.wrapper a {
  color: teal;
}

.aboutNav {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  border-right: 1px solid var(--color-active);
  min-width: 20vw;
  align-items: flex-end;
}
