.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.infoConsistent {
  min-height: 13.2rem;
}

.info > p {
  padding: 0 1rem;
}

.textBlock {
  position: relative;
  min-height: 3.65rem;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  transition: all 400ms ease-in;
}

.textBlock:hover {
  box-shadow: var(--sky-box-shadow);
}

.subtleLink {
  transition: all 400ms ease-in;
}

.subtleLink:hover {
  opacity: 0.8;
  color: var(--color-primary);
}
