.searchForm {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  margin-bottom: 0.5rem;
}

.searchForm button {
  background-color: var(--color-active);
  cursor: pointer;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background-color: teal;
  transition: all 400ms ease-in;
}

.searchForm button:hover {
  background-color: var(--color-active);
}

.searchForm input[type='search'] {
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--accent-bg-color);
}
