.content li {
  list-style-type: filledBullet;
  transition: all 400ms ease-in;
}

@counter-style filledBullet {
  system: cyclic;
  symbols: '\0025B8';
  suffix: ' ';
}

.content li:hover {
  list-style-type: hollowBullet;
  color: teal;
}

@counter-style hollowBullet {
  system: cyclic;
  symbols: '\0025B9';
  suffix: ' ';
}

.content a {
  transition: all 400ms ease-in;
}

.content a:hover {
  opacity: 0.8;
  color: var(--color-primary);
}

.content h2 {
  text-align: center;
}
