.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2rem 4rem;
  flex: 1;
}

.codeBlock {
  position: relative;
  margin: 0.5rem 0 1rem;
  padding: 1.5rem 4rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
  transition: all 400ms ease-in;
  overflow-x: auto;
  white-space: pre-wrap;
  word-break: break-word;
}

.codeBlock:hover {
  opacity: 0.8;
  box-shadow: var(--sky-box-shadow);
}
